html {
  scroll-behavior: smooth;
  font-weight: lighter;
}
body {
  font-family: sans;
  background-color: #02131f;
  font-weight: lighter;
}

.header h1 {
  font-size: 70px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
  
}
.header h2 {
  margin: 0 auto;
  text-align: center;
  font-weight: lighter;
  color: white;
}
nav {
  width:100%;
  margin-top: -14px;
  position:fixed;
  z-index:100;
 

}
.nav-active{
transition: background-image 1s linear;
/*   background: linear-gradient(0deg, rgba(84,106,121,0) 0%, rgba(53,69,79,0.6500350140056023) 28%, rgba(2,18,29,0.904936974789916) 100%); */
background-image: linear-gradient(0deg, rgba(2,19,31,0.028186274509803932) 0%, rgba(2,19,31,0.30549719887955185) 25%, rgba(2,19,31,0.42594537815126055) 50%, rgba(2,19,31,0.7004551820728291) 75%, rgba(2,19,31,0.8937324929971989) 100%);
}



nav ul {
  text-align: center;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  float: none;
  margin-right: 10px;
  margin-top: 10px;
  color: white;
  position: relative;
  font-size: 25px;
}

nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#d95804;
  transform-origin: center;
  transition: transform 0.2s ease-out;
}

nav ul li:hover::after {
  transform: scaleX(1);
  transform-origin: cross;
}

nav ul li:hover ,.active{
  color: #d95804;
}
nav ul a{
  text-decoration:none;
}

main {
  height: 750px;
  background-size: cover;
  background-position: center center;
  background-image: url(https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.header {
  margin-top: 180px;
}

.links ul {
  text-align: center;
  list-style-type: none;
}

.links ul li {
  display: inline-block;
  float: none;
  margin-right: 55px;
  color: #dfe2e5;
  position: relative;
  font-size: 30px;
}
.links ul li:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.downArrow {
  text-align: center;
  margin-top: 180px;
}
.downArrow a {
  color: white;
}
.downArrow a i:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.About {
  margin-top: 2rem;
}
.About .abouth2 {
  color: #f05e04;
  text-align: center;
  font-size: 35px;
  text-decoration:underline;
}
.About .abouth1 {
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  font-weight: lighter;
  color: white;
}
.About .content {
  margin-top: 15px;
  margin: auto;
  width: 50%;
  align-content: center;
  position: relative;
  font-size: 18px;
  text-align: center;
}
.About .content a {
  color: grey;
}
.About .twinpage {
  width: 60%;
  position: relative;
  margin: auto;
  display: grid;
  column-gap: 60px;
  grid-template-columns: auto auto;
  color: white;
}
hr {
  width: 50%;
}
.twinpage .profile {
  text-align: left;
}
.twinpage .profile h3 {
  font-size: 35px;
  color: #f05e04;
  text-decoration:underline;
}
.twinpage .profile h2 {
  font-size: 23px;
  color: grey;
  
}
.twinpage .profile h1 {
  font-size: 25px;
}
.twinpage .profile a {
  color: grey;
  font-size: 20px;
  font-weight: lighter;
}

.twinpage .skills {
  text-align: left;
}
.twinpage .skills h3 {
  font-size: 35px;
  color: #f05e04;
  text-decoration:underline;
}
.twinpage .skills h2 {
  font-size: 23px;
  color: grey;
}
.twinpage .skills h1 {
  font-size: 25px;
}
.twinpage .skills a {
  color: grey;
  font-size: 20px;
  font-weight: lighter;
}
.twinpage .group {
}
.twinpage .group .group-title {
  color: grey;
  font-size: 23px;
}
.twinpage .group .group-progress {
  text-align: left;
  width: 100%;
  height: 20px;
  background-color: rgba(128, 128, 128, 0.25);
}
.twinpage .group .group-progress .progress-line {
  z-index: 2;
  background-color: rgba(128, 128, 128, 1);
  height: 20px;
}

.Resume {
  height: auto;
  background-color: white;
}

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80, 80, 80);
  background: -moz-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );

  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255, 80, 80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.9em;
  color: rgb(250, 80, 80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248, 248, 248);
}

.desc {
  margin: 1em 0.75em 0 0;

  font-size: 0.85em;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;

    text-align: center;
  }

  .flag-wrapper {
    text-align: center;
  }

  .flag {
    background: #f05e04;
    z-index: 15;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #f05e04;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
    z-index: 10;
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: #f05e04;
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245, 245, 245);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

    z-index: 15;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;

    z-index: 15;
  }
}

@media screen and (min-width: 400px ?? max-width: 660px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}

/*PROJECTS*/
/*PROJECTS*/
/*PROJECTS*/
/*PROJECTS*/
/*PROJECTS*/
/*PROJECTS*/

.projectsh1 {
  text-align: center;
  font-size: 35px;
  color: #f05e04;
  text-decoration:underline;
}
.projectsh2 {
  text-align: center;
  font-size: 20px;
  color: #808080;
}
/*PROJECTS*/
.Projects {
  
  text-align: center;
  height: auto;
  width: 60%;
 margin: auto;
margin-bottom:5rem;
  grid-template-columns: auto auto auto;
}


.Projects .container {
  display: flex;
  column-gap: 40px;
}
.Projects .container .card .icon {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: #f05e04;
}
.container .card .icon .fa {
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 80px;

  color: #fff;
}

.Projects .container .card .slide {
  width: 250px;

  height: 150px;

  transition: 0.8s;
}

.Projects .container .card .slide.slide1 {
  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: 0.7s;

  transform: translateY(100px);
}

.Projects .container .card:hover .slide.slide1 {
  transform: translateY(50px);
}

.Projects .container .card .slide.slide2 {
  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: 0.8s;

  transform: translateY(-50px);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.Projects .container .card:hover .slide.slide2 {
  transform: translateY(10px);
}

.Projects .container .card .slide.slide2::after {
  content: "";

  position: absolute;

  width: 30px;

  height: 4px;

  bottom: 15px;

  left: 50%;

  left: 50%;

  transform: translateX(-50%);

  background: #f05e04;
}

.Projects .container .card .slide.slide2 .content p {
  margin: 0;

  padding: 0;

  text-align: center;

  color: grey;
}

.Projects .container .card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: grey;
}

.Contact{
  margin:auto;
  height:150px;
  background-color:#1d1e22;
  text-align:center;
}
.Contact h1{
  font-size:25px;
  color:white;
}
.Contact .fa {
  position: absolute;
margin-top:5px;
  font-size: 50px;
text-align:center;
  color: #fff;
}
.footer{
  height:60px;
  background-color:#0f0f0f;
  color:#242424;
  
  
}
.project-links{
  color:#808080;
  text-decoration:underline;
}
